#wrap {
	min-height: 100%
}
.navbar-header{
	opacity: 1;
}
.navbar {
	opacity: 0.6;
	
}
.jumbotron {
	background-color:transparent;
}
#othershit{
	color:#de4f4f;
}
#main {
	margin-top:90px;
}
#shit {
	height:10%;
	width:10%;
}
.intro {
	background-color:#27272b;
}
.container {
	width:950px;
}
.page-header {
	text-align:center;
}
#inferno {
	text-align:center;
}

#footer {
	background-color: #27272b;
}

rect {
  fill: none;
  pointer-events: all;
  background: #222;
  
}

circle {
  fill: none;
  stroke-width: 2.5px;
}