#wrap {
	min-height: 100%
}
.navbar-header{
	opacity: 1;
	
}
.navbar {
	opacity: 1;
	height: 80px;
	opacity: 0.92;
	margin-bottom: 0px;
	
}
#navRight{
	margin-top: 13px;
	font-family:;
	font-size: 13px;
	height: 90px;
	opacity: 0.92;
	

}
.logo{
	font-weight: bolder;
	margin-top: 25px;
	margin-left: 0px;
	font-size: 25px;
	letter-spacing: 0.2em;
}
#redLogo{
	color: #de4f4f;
}
.info  {
	text-align:center;
	height:150px;
}
.jumbotron {
	background-color:transparent;
}
.redzone {
	background-color:#de4f4f;
	height:630px;
}
.end {
	background-color:black;
	height:630px;
}
#othershit{
	color:#de4f4f;
}
#main {
	margin-top:80px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
#shit {
	height:10%;
	width:10%;
}
.intro {
	background-color:#27272b;
	width: 100%;
}
.container-fluid {
	padding-left:10%;
	padding-right:10%;
}
.page-header {
	text-align:center;
	border: none;
	border-bottom:none;
}
.celeb {
	background-color:#e9e9e9;
	text-align:center;
	height : 500px;
}
#inferno {
	text-align:center;
}
#footer {
	background-color: #27272b;
	color:white;
}
#footer ul{
	
	list-style:none;
}

rect {
  fill: none;
  pointer-events: all;
  background: #222;
  
}

circle {
  fill: none;
  stroke-width: 2.5px;
}