#wrap {
	min-height: 100%
}
.navbar-header{
	opacity: 1;
	
}
.texty {
	display:none;
}
.navbar {
	/* opacity: 1; */
	min-height: 60px;
	opacity: 1.0;
	background-color:white;
	border-bottom:0px;
	/* box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1); */
}
#navRight{
	margin-top: 13px;
	font-family:;
	font-size: 13px;

	text-transform: uppercase;
	/* color: #A6253E; */
}
.navbar-blur {
    z-index: 1000;
	
    -webkit-filter: blur(20px);     -moz-filter: blur(10px);     -ms-filter: blur(10px);      -o-filter: blur(10px);     filter: blur(10px);     
    background: rgba(250,250,250,0.7);     top: 0;     left: 0;     width: 100%;     
    height: 77px;     padding: 0;
} 
#slideshow {
	height :400px;
	background-position: center center;
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-size:cover;
		width:100%;
		display:table;
		position:relative;
	-webkit-animation:slide 20s;
    -webkit-animation-timing-function: linear;
       -webkit-animation-delay: 2s;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-play-state: running;
	animation:slide 10s;
    animation-timing-function: step-start;
       animation-delay: 0s;
       animation-iteration-count: infinite;
       animation-play-state: running;
}

@keyframes slide {
	0% {background-image:url("img/ico.png")};
	29% {background-image:url("img/ico.png")};
	30% {background-image:url("img/muchbef.jpg");}
	50% {background-image:url("img/muchbef.jpg");}
	40% {background-image:url("img/navLogo.png");}
	90% {background-image:url("img/logo.png");}
}
.redzone img {
	width:50%;
	position:relative;
	
}
 .pronites .row  img {
	width:80%;
}
.pronites {
    margin-top: 100px;
	text-align:center;
}
.pronites .row .col-md-3 {
	text-align:center;
}
.pronites .row p {
	height:50px;
	overflow:scroll;
}

@-webkit-keyframes slide {
	0% {background-image:url("img/ico.png")};
	29% {background-image:url("img/ico.png")};
	30% {background-image:url("img/muchbef.jpg");}
	39% {background-image:url("img/muchbef.jpg");}
	40% {background-image:url("img/navLogo.png");}
	89% {background-image:url("img/navLogo.png");}
	90% {background-image:url("img/logo.png");}
	99% {background-image:url("img/logo.png");}
}
.teamhead {
	position: relative;
	top: -40px;
}
.logo{
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 0px;
	font-size: 25px;
	letter-spacing: 0.2em;
	
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
#logoIn {
	width: 317px;
	height: 50px;
}
#redLogo{
	color: #de4f4f;
}
.sponsors {
	padding-top:10px;
	background-color:white;
	height :380px;
	overflow:hidden;
}
.sponsors img {
	width:90%;
}
.sponsors2 {
	height:100px;
}
.sponsorleft , .sponsorright {
	top:0px;
    -webkit-animation-name: sponsoranimate;
       -webkit-animation-duration: 5s;
       -webkit-animation-timing-function: ease;
       -webkit-animation-delay: 5s;
       -webkit-animation-iteration-count: infinite;
       /*-webkit-animation-direction: alternate;*/
       -webkit-animation-play-state: running;
       /* Standard syntax */
       animation-name: sponsoranimate;
       animation-duration: 5s;
       animation-timing-function: ease;
       animation-delay: 5s;
       animation-iteration-count: infinite;
       animation-play-state: running;
} 
@-webkit-keyframes sponsoranimate {
	
}

/* Standard syntax */
@keyframes sponsoranimate {
	0% {top:-100%;}
	25% {top:-50%;}
	75% {top:-20%;}
	0% {top:0%;}
}
.sponsors .sponsorleft {
	padding-right:0px;
	position:relative;
	
	z-index:3;
}
.sponsors .solidsponsor {
	z-index:10;
	text-align:center ;
	 padding-bottom:15px;
	 fill:white;
}
.sponsors .sponsorright{
	padding-left:0px;
}
.info  {
	text-align:center;
	height:150px;
}
.jumbotron {
	background-color:transparent;
}
.redzone {
	background-color:#de4f4f;
	text-align:center;
	padding-top:50px;
	padding-bottom:100px;
}

.eventzone .row {
	margin-bottom: 150px;
}
.end {
	background-color:black;
	height:630px;
}
#othershit{
	color: white;
	text-transform: uppercase;
	margin-top: 10px;
}
.boxe {
	border: 1px  solid #e8e5d5;
	height:39px;
	margin-left:15px;
	margin-right:15px;
}
#main {
	margin-top:80px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}
#footer ul {
	top: -50px;
	padding-left:0px;
	position: relative;
}
#footer li {
	padding-top:8px;
	padding-bottom:0px;
	
}
.footerfirstcol {
	border-top:1px solid #e8e5d5;
	border-bottom: 1px solid #e8e5d5;
	padding-left:10px;
}
#shit {
	height: 18%;
	width: 18%;
	margin-top: 0px;
}
.col-md-6.lowerjewelright{
	padding-left:0px;
}
.col-md-6.lowerjewelleft{
	padding-right:0px;
}
.col-md-6.jeweltopleft {
	padding-right:0px;
}
.col-md-6.jeweltopright{
	padding-left:0px;
}
.mid {
	/*background-image:url("img/muchbef.jpg");*/
	/* z-index: 1000; */
	/* margin-top: 0; */
}
.intro {
	/*background-position: center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	height:100vh;
	width:100%;
	display:table;
	position:relative;
	background-image:url("img/muchbef.jpg");*/
	/* background-image: url("img/muchbef.jpg"); */
	background-color:#27272b;
}
.test {
	background-color:#27272b;
}
.node {
  stroke: #fff;
  stroke-width: 0px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
.container-fluid {
	padding-left:10%;
	padding-right:10%;
}
.page-header {
	text-align:center;
	border: none;
	border-bottom:none;
}
.celeb {
	
	text-align:center;
	height : 500px;
	background-position: center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	height:100vh;
	width:100%;
	display:table;
	position:relative;
	background-image:url("img/muchbef.jpg");
}
#inferno {
	text-align:center;
}
.middlecol {
	margin-left:0px;
}
#footer {
	background-color: rgb(222,79,80);
	color:white;
	font-family: Montserrat;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
#footer ul{
	
	list-style:none;
}


circle {
	fill:grey;
}
line {
  stroke:#393939;
  stroke-width:0.7;
  transition-property: background;
    transition-duration: 5s;
    transition-timing-function: linear;
	
	-webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
	    animation: myfirst 5s;
		animation-timing-function: linear;
		    animation-delay: 2s;
		    animation-iteration-count: infinite;
		    animation-direction: alternate;
		    animation-play-state: running;
			-webkit-animation-delay: 2s;
			    -webkit-animation-iteration-count: infinite;
			    -webkit-animation-direction: alternate;
			    -webkit-animation-play-state: running;
}

line:hover {
    stroke:rgb(255,255,0);
    stroke-width:5;
	
}

@-webkit-keyframes myfirst {
    from {stroke:#393939;
  stroke-width:0.7;}
    to {stroke:grey;
  stroke-width:1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {stroke:#393939;
  stroke-width:0.7;}
    to {stroke:rgb(99,99,99);
  stroke-width:1;}
}